:root {
	--bg-html: #f0f4f0;
	--bg-body: #ffffff;
	--bg-header: #7fccc4;
	--text-dark: #3e4444;
	--text-medium: #798080;
	--text-light: #f8f9fa;
	--text-muted: #9aa0a0;
	--primary-accent: #7fccc4;
	--secondary-accent: #a2d5c6;
	--border-color: #dce4e4;
	--hover-bg-light: #e6efef;
	--button-bg-light: var(--bg-body);
	--button-text-light: var(--primary-accent);
	--button-hover-bg-light: var(--hover-bg-light);
	--code-bg-light: #f5f8f5; /* Verde muy pálido para bloques de código */
	--section-bg-light: var(--bg-body);
	--link-color-light: var(--primary-accent);
	--link-hover-color-light: var(--secondary-accent);
	--box-shadow-color: rgba(0, 0, 0, 0.08);
}

/* Estilos para el modo oscuro */
html[data-theme="dark"] {
	--bg-html: #1e221e;
	--bg-body: #121212;
	--bg-header: #30524d;
	--text-dark: #e0e0e0;
	--text-medium: #adb5bd;
	--text-light: #f5f5f5;
	--primary-accent: #40736b;
	--secondary-accent: #528c7f;
	--border-color: #353c3c;
	--hover-bg-dark: #283030;
	--button-bg-dark: var(--hover-bg-dark);
	--button-text-dark: var(--primary-accent);
	--button-hover-bg-dark: #333e3e;
	--code-bg-dark: #1c231c;
	--section-bg-dark: var(--bg-body);
	--link-color-dark: var(--primary-accent);
	--link-hover-color-dark: var(--secondary-accent);
	--box-shadow-color: rgba(0, 0, 0, 0.25);
}

html {
	height: 100%;
	background-color: var(--bg-html);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

header {
	background-color: var(--bg-header);
	color: var(--text-light);
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--bg-body);
	max-width: 1300px;
	margin: 0 auto;
	box-shadow: 0 4px 15px var(--box-shadow-color);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: var(--text-dark);
}

/* Estilos para el botón del tema */
.theme-toggle-button {
	position: absolute; /* Posición del botón */
	top: 10px;
	right: 30px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid var(--text-light);
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease,
		border-color 0.3s ease;
	display: flex; /* Posición del icono */
	align-items: center;
	justify-content: center;
	padding: 0;
	font-size: 1.2em; /* Se ajusta el tamaño del icono */
	z-index: 10;
	background-color: transparent;
	color: var(--text-light);
	&:hover {
		background-color: rgba(255, 255, 255, 0.15);
		border-color: var(--text-light);
	}
}

html[data-theme="dark"] .theme-toggle-button {
	background: var(--button-bg-dark);
	color: var(--button-text-dark);
	border-color: var(--border-color);
	&:hover {
		background-color: var(--button-hover-bg-dark);
	}
}

/* --- Estilos para la cabecera --- */
.title-container {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	h1 {
		text-align: center;
		font-size: 30px;
		font-weight: 400;
		text-transform: uppercase;
		word-spacing: 1px;
		letter-spacing: 2px;
		color: var(--text-light);
		position: relative;
		padding-top: 65px;
		padding-bottom: 20px;
		margin-bottom: 15px;
		span {
			display: block;
			line-height: 1.5em;
			text-transform: none;
			font-size: 0.7em;
			font-weight: normal;
			font-style: italic;
			font-family: "Playfair Display", "Bookman", serif;
			color: var(--text-light);
			word-spacing: 1px;
			letter-spacing: normal;
			margin-bottom: 5px;
		}
		&::before,
		&::after {
			position: absolute;
			left: 0;
			bottom: 0;
			height: 4px;
			content: "";
			right: 45px;
			margin: auto;
		}
		&::before {
			background-color: var(--secondary-accent);
			left: 45px;
			width: 90px;
		}
		&::after {
			width: 45px;
			background-color: var(--text-light);
		}
	}
}

/* Estilos para el diseño de dos columnas */
main#main-content {
	display: flex;
	flex-wrap: wrap;
	gap: 50px; /* Reducido para mejor adaptabilidad inicial */
	padding: 50px;
}

/* Columna izquierda para "About Me" */
/* Propiedad abreviada */
/* flex-grow: 1 Significa que un elemento flexible puede crecer */
/* flex-shrink: 1 Significa que un elemento flexible puede encogerse */
/* flex-basis: Define el tamaño inicial del elemento flexible a lo largo del eje principal (horizontal si flex-direction es row) 
o vertical si es column */
#aboutMe.content-section {
	flex: 1 1 290px; /* Crece/decrece, con un ancho base de 290px */
	min-width: 280px; /* Ancho mínimo antes de que se comprima demasiado */
}

/* Contenedor para las secciones de la columna derecha */
/* flex-grow: 2 Significa que ese elemento intentará ocupar el doble de espacio que el que tenga flex-grow: 1 */
.main-content-right {
	flex: 2 1 700px; /* Ajustado el flex-basis para la columna derecha */
	display: flex;
	flex-direction: column; /* Dice que los elementos se apilen en columnas */
}

/* Modo oscuro para las secciones de contenido */
html[data-theme="dark"] .content-section {
	background-color: var(--section-bg-dark);
	border-color: var(--border-color);
}

#aboutMe {
	padding-top: 5px;
	border: none;
	background: transparent;
	text-align: justify;
	h2 {
		font-size: 1.5em; /* Tamaño de fuente consistente */
		line-height: 1.3; /* Altura de línea consistente */
		color: var(--primary-accent);
		margin-top: 0; /* Asegurar que no haya margen superior por defecto */
		margin-bottom: 15px;
		border-bottom: 1px solid var(--border-color);
		padding-bottom: 5px;
	}
}

.contact-methods {
	display: flex;
	justify-content: center;
	ul {
		list-style: none;
		padding: 0;
		margin: 0 0 20px 0;
	}
	li {
		display: inline-block; /* Si hay espacio suficiente, fuerza que los elementos se pongan unos al lado de otros en la misma línea */
		margin-top: 15px;
		margin-right: 2.5px;
	}
}
.contact-icon {
	width: 40px;
	height: 40px;
	font-size: 25px;
	transition: background-color 0.3s ease, transform 0.3s ease;
	&:hover {
		transform: scale(
			1.1
		); /* Agranda un poco los iconos cuando el ratón pasa por encima */
	}
}
.contact-icon.fa-envelope {
	background-color: #cccccc;
}
.contact-icon.fa-envelope:hover {
	background-color: #bbbbbb;
}
.contact-icon.fa-github {
	background-color: #6e5494;
}
.contact-icon.fa-github:hover {
	background-color: #59447a;
}
/* Asegura que la etiqueta <a> tag no añade sus propios estilos */
.contact-methods ul li a {
	text-decoration: none;
}
.contact-methods a:hover,
.contact-methods a:focus {
	color: var(--secondary-accent);
}

/* --- Estilos para el currículum --- */
#curriculum {
	padding-top: 5px;
	border: none;
	background-color: transparent;
	h2 {
		font-size: 1.5em; /* Tamaño de fuente consistente */
		line-height: 1.3; /* Altura de línea consistente */
		color: var(--primary-accent);
		margin-top: 0; /* Asegurar que no haya margen superior por defecto */
		margin-bottom: 15px;
		border-bottom: 1px solid var(--border-color);
		padding-bottom: 5px;
	}
}

.cv-section {
	margin-bottom: 30px;
	color: var(--text-dark);
	ul {
		list-style-type: disc;
		margin-top: 0;
		padding: 10px 15px 10px 30px;
		li {
			margin-bottom: 8px;
			line-height: 1.5;
		}
		ul {
			list-style-type: circle;
			margin-top: 8px;
			padding-left: 20px;
		}
	}
	/* Selector para etiquetas <p> que siguen inmediatamente a una etiqueta <h2> */
	h2 + p {
		margin-top: 0;
	}
	h3 {
		font-size: 1.05em;
		font-weight: 600;
		color: var(--text-dark);
	}
	p {
		line-height: 1.6;
		margin-bottom: 10px;
	}
}

/* --- Estilos para los proyectos --- */
#projects {
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
	background-color: transparent;
	h2 {
		font-size: 1.5em; /* Tamaño de fuente consistente */
		line-height: 1.3; /* Altura de línea consistente */
		color: var(--primary-accent);
		margin-top: 0; /* Asegurar que no haya margen superior por defecto */
		margin-bottom: 15px;
		border-bottom: 1px solid var(--border-color);
		padding-bottom: 5px;
	}
}

.project-item {
	margin-bottom: 50px;
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 10px;
	background-color: var(--bg-body);
	h3 {
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 1.05em;
		color: var(--text-dark);
		transition: color 0.3s ease;
	}
	h4 {
		color: var(--text-muted);
	}
}

.project-item:last-of-type {
	border-bottom: none;
}

/* Contenedor para los iconos de tecnologías de los proyectos */
.project-tech-icons-list {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	gap: 5px;
}

/* Estilos generales para los botones circulares */
.tech-icon,
.contact-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: white; /* Color por defecto del icono */
	text-decoration: none;
	line-height: 1; /* Ayuda con el centrado vertical de los iconos */
	padding: 0; /* Asegura que no hay paddings afectando el centrado */
}

/* Estilos para los iconos de las tecnologías usadas en los diferentes proyectos */
.tech-icon {
	width: 40px;
	height: 40px;
	font-size: 25px;
}
.tech-icon.fa-js,
.tech-icon.fa-react {
	color: #212529; /* Asegurar contraste para estos iconos específicos */
}
.tech-icon.fa-html5 {
	background-color: #e34f26;
}
.tech-icon.fa-css3-alt {
	background-color: #1572b6;
}
.tech-icon.fa-js {
	background-color: #f7df1e;
}
.tech-icon.fa-react {
	background-color: #61dafb;
}
.tech-icon.fa-node-js {
	background-color: #339933;
}

html[data-theme="dark"] .project-item {
	background-color: var(--bg-body);
	border-color: var(--border-color);
}

.project-link-container {
	text-align: center;
}
.project-link {
	display: inline-block;
	background-color: var(--link-color-light);
	color: #ffffff;
	padding: 8px 15px;
	text-decoration: none;
	border-radius: 4px;
	transition: background-color 0.3s ease, color 0.3s ease;
	margin-right: 10px;
	margin-top: 20px;
	&:hover,
	&:focus {
		background-color: var(--link-hover-color-light);
		color: #ffffff;
	}
}

html[data-theme="dark"] .project-link {
	background-color: var(--link-color-dark);
	color: #ffffff;
	&:hover,
	&:focus {
		background-color: var(--link-hover-color-dark);
		color: #ffffff;
	}
}

/* --- Media Queries para responsividad--- */

/* Breakpoints grandes/medianos */
@media (max-width: 1200px) {
	main#main-content {
		gap: 40px;
		padding: 40px;
	}
}

/* Breakpoints medios */
@media (max-width: 1024px) {
	.title-container {
		padding-left: 25px;
		padding-right: 25px;
	}
	main#main-content {
		padding: 30px;
		gap: 15px; /* Gap entre columnas */
	}
	#aboutMe.content-section {
		flex-grow: 0; /* Evita que #aboutMe crezca más allá de su flex-basis. */
		flex-basis: 280px; /* Establece una base de ancho fija para #aboutMe. */
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#curriculum.content-section {
		margin-top: 10px;
	}
	.main-content-right {
		/* Al establecer flex-basis en 0 (o auto), .main-content-right usará su flex-grow heredado (valor de 2) para ocupar el 
		espacio restante. */
		flex-basis: 0;
		gap: 15px; /* Este gap es para los hijos de .main-content-right (Curriculum y Projects) */
	}
	.content-section {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 10px;
	}
	.cv-section {
		margin-bottom: 10px;
	}
	.project-item {
		margin-bottom: 30px;
	}
}

/* Breakpoints pequeños */
@media (max-width: 768px) {
	main#main-content {
		flex-direction: column;
		padding: 25px; /* Padding para el contenedor principal */
		gap: 10px; /* Espacio vertical entre secciones apiladas */
	}
	/* Hacemos que ambas columnas ocupen todo el ancho disponible cuando están apiladas */
	#aboutMe.content-section,
	.main-content-right {
		flex-basis: 100%;
		min-width: auto;
	}
	#aboutMe.content-section,
	.content-section {
		/* Padding interno uniforme para todas las secciones */
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 10px;
	}
	.cv-section h3,
	.project-item h3 {
		font-size: 1.2em;
	}
	.theme-toggle-button {
		top: 15px;
		right: 20px;
		width: 35px;
		height: 35px;
		font-size: 1.1em;
	}
	.main-content-right {
		gap: 10px; /* Gap entre Curriculum y Projects */
	}
}

/* Breakpoints muy pequeños */
@media (max-width: 480px) {
	.title-container,
	footer {
		padding-left: 15px;
		padding-right: 15px;
	}
	main#main-content {
		padding: 15px; /* Padding reducido para el contenedor principal */
		gap: 0; /* Gap reducido entre secciones apiladas */
	}
	#aboutMe.content-section,
	.content-section {
		/* Padding interno uniforme para todas las secciones */
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.theme-toggle-button {
		top: 10px;
		right: 15px;
	}
	.main-content-right {
		gap: 5px;
	}
}
